<div class="projects">
  <div class="row">
    <div class="col-6">
      <div class="project project-left">
        <%= image_tag 'linkvaults.png', class: "project-img" %>
        <h3 class="project-title">LinkVaults</h3>
        <p class="project-language">HTML, SCSS, Ruby on Rails, Heroku</p>
        <%= link_to 'View Project', 'http://www.linkvaults.com/', class: "project-link" %>
      </div>
    </div>
    <div class="col-6">
      <div class="project">
        <%= image_tag 'shoplight.png', class: "project-img" %>
        <h3 class="project-title">Shop Light</h3>
        <p class="project-language">HTML, SCSS, Ruby on Rails, Shopify, Heroku</p>
        <%= link_to 'View Project', 'https://shop-light.herokuapp.com/', class: "project-link" %>
      </div>
    </div>
    <div class="col-6">
      <div class="project project-left">
        <%= image_tag 'theme_docs.png', class: "project-img" %>
        <h3 class="project-title">Kajabi Theme Developer Docs</h3>
        <p class="project-language">HTML, SCSS, Middleman, Contentful, Netlify</p>
        <%= link_to 'View Project', 'https://theme-developers.kajabi.com/', class: "project-link" %>
      </div>
    </div>
    <div class="col-6">
      <div class="project">
        <%= image_tag 'cornerstone.png', class: "project-img" %>
        <h3 class="project-title">Kajabi Cornerstone</h3>
        <p class="project-language">HTML, SCSS</p>
        <%= link_to 'View Project', 'https://www.kajabicornerstone.com/', class: "project-link" %>
      </div>
    </div>
    <div class="col-6">
      <div class="project project-left">
        <%= image_tag 'inbound_pixels.png', class: "project-img" %>
        <h3 class="project-title">Inbound Pixels</h3>
        <p class="project-language">Custom Hubspot Templates</p>
        <%= link_to 'View Project', 'http://www.inboundpixels.com/', class: "project-link" %>
      </div>
    </div>
  </div>
</div>
